@import "box-sciagraphy";

body {
  background: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.box {
  width: 100px;
  height: 100px;
  margin: 50px;
  background-color: blue;
}
