// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.box {
  $size: 100px;
  height: $size;
  width: $size;
  margin: $size;
  background-color: #0074D9;

  &::before {
    content: attr(data-azimuth);
  }

  &::after {
    content: attr(data-altitude);
  }
}
