// VARIABLES
$color-primary: #fcff39;
$color-1:       lighten($color-primary, 48%);
$color-2:       darken($color-1, 5%);
$color-3:       darken($color-1, 20%);
$color-4:       darken($color-1, 70%);
$color-5:       darken($color-primary, 35%);


$font-family-base:      "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-monospace: "Source Code Pro", monospace;

$width-wrapper: 600px;
$radius: 5px;
$section-padding: 3em;

// HELPERS
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// GENERAL
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: $color-1;
  color: $color-4;
  font-family: $font-family-base;
  font-size: 18px;
  line-height: 1.5;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  color: #ccc;
  font-size: 4em;
  letter-spacing: -0.03em;
  line-height: 1.2;
}

h2 {
  color: #999;
}

p {
  + p {
    padding-top: 1em;
  }
}

pre,
code {
  font-family: $font-family-monospace;
}

code {
  background-color: rgba(black, 0.05);
  border-radius: 3px;
  padding: 0 0.25em;
}

%width-wrapper,
.width-wrapper {
  margin: 0 auto;
  max-width: $width-wrapper;
  padding: 0 1em;
}

%section {
  padding: $section-padding 0;
}

// SPECIFIC
.hero {
  @extend %section;

  .width-wrapper {
    max-width: $width-wrapper * 1.5;
  }
}

.hero__title {
  margin-bottom: $section-padding * 2;
  text-align: center;
}

.examples {
  @include clearfix;
  margin-bottom: 8em;
}

.example {
  float: left;
  text-align: center;
  width: 33%;
}

.example__description {
  $border: 1px solid #ccc;
  background-color: #fefefe;
  border-radius: $radius;
  border: $border;
  color: #666;
  display: inline-block;
  line-height: 1.2;
  margin: 2em 0;
  padding: 1em;
  position: relative;
  text-align: center;

  &::after {
    $size: 0.8em;
    $margin: -($size / 2);
    background-color: inherit;
    border-bottom: $border;
    border-right: $border;
    bottom: 0;
    content: "";
    height: $size;
    left: 50%;
    margin: 0 0 $margin $margin;
    position: absolute;
    transform: rotate(45deg);
    width: $size;
  }
}

.box {
  $size: 3em;
  background-color: #666;
  border-radius: 1px;
  height: $size;
  margin: 0 auto;
  transition: box-shadow 2s ease-out;
  width: $size;
}

.description {
  @extend %section;
  background-color: $color-2;
}

.instructions {
  @extend %section;
  background-color: $color-primary;

  pre {
    background-color: $color-4;
    border-radius: $radius;
    color: $color-primary;
    padding: 1em;
    text-align: center;
  }
}

.button {
  border-radius: $radius;
  border: 2px solid;
  color: $color-5;
  display: block;
  font-weight: bold;
  line-height: 3em;
  text-align: center;

  &:hover {
    background-color: $color-5;
    color: $color-primary;
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 4px rgba(white, 0.4);
    outline: none;
  }
}

.or {
  color: $color-4;
  display: block;
  margin: 1em 0;
  text-align: center;
}


.footer {
  @extend %section;
  background-color: $color-5;
  color: $color-3;
  text-align: center;
}
