* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html,
body {
  background-color: #f9f9f9;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  font-size: 18px;
  line-height: 1.5; }

a {
  color: #0074D9;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1 {
  font-size: 4em;
  letter-spacing: -0.03em; }

p + p {
  padding-top: 1em; }

code {
  font-family: "Source Code Pro", monospace; }

.width-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1em; }

.hero, .description {
  padding: 3em 0; }

.hero__title {
  text-align: center; }

.examples:before, .examples:after {
  content: " ";
  display: table; }
.examples:after {
  clear: both; }

.example {
  width: 33%;
  float: left; }

.box {
  -webkit-transition: box-shadow 2s ease-out;
          transition: box-shadow 2s ease-out;
  height: 3em;
  width: 3em;
  margin: 3em;
  background-color: #333;
  float: left; }

.description {
  background-color: #f0f0f0; }
  .description .width-wrapper {
    max-width: 600px; }
